---
layout: default
post_class: post-template page-template
---

{% if page.cover and page.peek %}
<header class="main-header post-head-peek"
    style="background-image: url({{ page.cover }})">
    <nav class="main-nav overlay">
{% elsif page.cover %}
<header class="main-header post-head"
    style="background-image: url({{ page.cover }});">
    <nav class="main-nav overlay">
{% else %}
<header class="main-header post-head no-cover">
    <nav class="main-nav clearfix">
{% endif %}

        <a class="back-button icon-arrow-left" href="{{'/' | relative_url }}">Home</a>
    </nav>
</header>


<main class="content" role="main">
    <article class="post">
        
        <h1 class="post-title">{{ page.title }}</h1>

        <section class="post-content">
            {{content}}
        </section>

    </article>

</main>